html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'), url('../fonts/MullerRegular.woff2') format("woff2"),
    url('../fonts/MullerRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'), url('../fonts/MullerLight.woff2') format("woff2"),
    url('../fonts/MullerLight.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'), url('../fonts/MullerBold.woff2') format("woff2"),
    url('../fonts/MullerBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'), url('../fonts/MullerMedium.woff2') format("woff2"),
    url('../fonts/MullerMedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 40px;
  line-height: 40px;
  color: #333;
  font-weight: 400;
}

.section-offset {
  padding-bottom: 70px;
}

/* header */
.header {
  padding: 30px 0;
  margin-bottom: 70px;
}

.header-top {
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  height: 54px;
}

.header-left,
.header-right {
  align-items: center;
}

.header-logo {
  margin-right: 40px;
}

.header-bottom {
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-nav {
  margin-left: 45px;
  margin-top: 27px;
  margin-bottom: 27px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn {
  margin-top: 14px;
  margin-bottom: 14px;
}

.btn {
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.btn-one {
  margin-right: 40px;
}

.btn-two {
  margin-right: 45px;
}

.number {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #666666;
}

.personal {
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  background-image: url(../img/keyboard_tab.svg);
  background-position: left center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  padding-left: 29px;
}

/* special */
.special-list {
  flex-wrap: wrap;
}

.special-item {
  width: 573px;
  margin-bottom: 24px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 45px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
}

.special-item:not(:last-child) {
  margin-right: 24px;
}

.card-preview {
  max-width: 420px;
}

.card-preview-one {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special-1.jpg);
}

.card-preview-two {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special-2.jpg);
}

.card-preview-three {
  background-image: url(../img/special-3.jpg);
  display: grid;
  align-items: end;
}

.card-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.card-preview-price {
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.card-preview-more {
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  background-image: url(../img/Rectangle.svg);
  background-position: right center;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  padding-right: 12px;
}

.card-preview-title-right {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.card-preview-price-right {
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
}

/* about-us */
.about-us-descr {
  width: 888px;
  font-size: 16px;
  line-height: 32px;
}

/* services */
.services-list {
  flex-wrap: wrap;
}

.services-item {
  max-width: 573px;
  margin-bottom: 24px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-preview {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  min-height: 100%;
}

.services-preview-text {
  max-width: 402px;
  margin-top: 26px;
  margin-bottom: 35px;
  margin-left: 45px;
}

.services-title-more {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #CC9933;
}

.services-title-link {
  background-image: url(../img/Rectangle.svg);
  background-position: right center;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  padding-right: 12px;
}

.services-descr {
  font-size: 16px;
  line-height: 32px;
}

/* advantages */
.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  width: 276px;
  margin-bottom: 22px;
  background-color: #fff;
  border-radius: 15px;
  background-position: 40px 45px;
  background-repeat: no-repeat;
  background-size: 66px 66px;
}

.advantages-item-bath {
  background-image: url(../img/advan-1.svg);
}

.advantages-item-hanger {
  background-image: url(../img/advan-2.svg);
}

.advantages-item-heating {
  background-image: url(../img/advan-3.svg);
}

.advantages-item-key {
  background-image: url(../img/advan-4.svg);
}

.advantages-item-parking {
  background-image: url(../img/advan-5.svg);
}

.advantages-item-reception {
  background-image: url(../img/advan-6.svg);
}

.advantages-item-box {
  background-image: url(../img/advan-7.svg);
}

.advantages-item-pool {
  background-image: url(../img/advan-8.svg);
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-descr {
  margin: 116px 42px 32px 45px;
  font-size: 16px;
  line-height: 32px;
}

/* placing */
.placing-list {
  flex-wrap: wrap;
}

.placing-item {
  width: 374px;
  margin-bottom: 42px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;

}

.placing-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placing-item-image {
  display: block;
}

.placing-text {
  padding: 32px 45px 45px 45px;
}

.placing-price-from {
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.placing-price-cost {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.placing-price-night {
  font-size: 16px;
  line-height: 16px;
}

.placing-name {
  font-size: 16px;
  line-height: 16px;
}

.placing-descr {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.placing-all-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  background-image: url(../img/Rect.svg);
  background-position: right center;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  padding-right: 12px;
}

.placing-item-all {
  align-items: flex-end;
  justify-content: center;
  background-image: url(../img/place-9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.placing-block {
  align-items: center;
  justify-content: space-between;
}

/* tour */
.tour-container {
  background-color: #E9E9E9;
  border-radius: 15px;
  max-width: 1170px;
  padding: 45px;
}

.tour-title {
  margin: 0;
  margin-bottom: 20px;
}

.tour-form {
  max-width: 1080px;
  background-color: #fff;
  border-radius: 15px;
}

.form-block {
  margin: 31px 28px;
}

.form-btn {
  margin: 32px 28px 32px 51px;
}

.form-select {
  border: none;
  margin-top: 15px;
}

.form-value input {
  border: none;
  margin-top: 15px;
}

.input-number {
  border-bottom: 1px solid #E9E9E9;
}

.input-number input {
  width: 120px;
}

.form-value:not(:last-child) {
  margin-right: 41px;
  outline: none;
}

.form-label {
  font-size: 12px;
  line-height: 12px;
}


/* contact */
.contacts-block {
  max-width: 1170px;
  background-color: #fff;
  border-radius: 15px;
  padding-top: 45px;
  padding-left: 45px;
  padding-bottom: 45px;
}

.contacts-address {
  font-style: normal;

}

.contacts-block-left {
  width: 375px;
  margin-right: 52px;
}

.contacts-list-item {
  display: flex;
  padding-bottom: 23px;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-item-caption {
  margin: 0;
  min-width: 98px;
  margin-right: 47px;
  align-self: flex-start;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.contacts-item-link {
  color: #CD9B37;
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding-top: 0px;
}

.contacts-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.contacts-item-descr {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.contacts-btn {
  margin-top: 45px;
  padding: 27px 30px;
}

.contacts-img {
  width: 653px;
  height: 100%;
}


/* footer */
.footer-container {
  max-width: 1170px;
  background-color: #333;
  border-radius: 15px;
  margin-bottom: 30px;
  background-image: url(../img/footer-logo.svg);
  background-repeat: no-repeat;
  background-position: 83% 100%;
}

.footer-item-left {

  margin: 45px 125px 45px 45px;
  max-width: 302px;
}

.footer-item-center {
  margin: 45px 250px 45px 0px;
  max-width: 360px;
}

.footer-descr {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 38px;
}

.footer-link-file {
  font-size: 16px;
  line-height: 24px;
  color: #CC9933;
}

.footer-descr-address {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
}

.footer-item-phone {
  margin-bottom: 15px;
}

.footer-item-link {
  color: #CD9B37;
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding-top: 0px;
}

.footer-item-right {
  margin-top: 45px;
  margin-right: 30px;
}

.social {
  flex-direction: column;
  align-items: flex-end;

}

.social-link {
  display: block;
  width: 25px;
  height: 25px;

}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-link-td {
  background-image: url(../img/td.svg);
}

.social-link-ok {
  background-image: url(../img/ok.svg);
}

.social-link-vk {
  background-image: url(../img/vk.svg);
}
